body {
  background: #fdfdfd;
}

.form-group-mini { width: 50%; float: left; padding: 0 10px; }
.form-group-mini:first-child { padding-left: 0; }
.form-group-mini:last-child { padding-right: 0; }
.input-group-addon { min-width: 150px; }
.glyphicon-ok { color: #2E8B57; }
.glyphicon-remove { color: #CC0000; }